@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0px;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding-top:10px;
}

section {
  background-color: steelblue;
  height: 200px;
  width: 400px;
  border-radius: 12px;
  color: white;
  font-size: 45px;
  font-weight: 800;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);

  transition: all .5s ease-out;
  transform: translateX(955px);
  
  /*To center*/
  display: grid;
  place-items: center;
}

.animation-on-scroll:nth-child(even) {
  transform: translateX(-955px);
}

.animation-on-scroll.animate {
  transform: translateX(0);
}